@import "../../../styles/variables.scss";

.header {
  align-items: center;
  background-color: $color-background;
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  z-index: 50;
}

.menu {
  color: $color-primary;
}

.menuPressable {
	background: none;
	border: none;
	color: inherit;
	cursor: pointer;
	font: inherit;
	outline: inherit;
	padding: 0;
}