@import "../../../styles/variables.scss";

.menuItem {
  cursor: pointer;
  padding: 10px;
  &:hover {
    background-color: $color-primary;
  }
}

.menuPressable {
	background: none;
	border: none;
	color: inherit;
	cursor: pointer;
	font: inherit;
	outline: inherit;
	padding: 0;
}