@import "../../styles/variables.scss";

.footer {
  align-items: center;
  background-color: $color-secondary;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.addressText {
  color: $color-background;
  font-family: "Montserrat", Sans-serif;
  font-size: 17px;
  font-weight: 900;
  line-height: 1.3em;
}

.contact {
  border-color: $color-background;
  color: $color-background;
  margin-top: $spacing-medium;
}