@import '../styles/variables.scss';

.hero {
  background-color: $color-primary;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 1.5px;
  opacity: 0.9;
  padding: 10px;
  padding-left: 10vw;
  position: relative;
  text-transform: uppercase;
  top: 30%;
  width: 90%;

  @media (min-width: 1100px) {
    width: 65%;
  }
}

.taishi {
  font-family: 'Montserrat', Sans-serif;
  font-size: 25px;
  font-weight: 900;
  opacity: 0.9;
  padding: 10px;
  padding-left: 10vw;
  position: relative;
  text-transform: uppercase;
  top: 40%;
}

.taishiTitle {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 0 5%;
}

.backgroundImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  width: 100%;
}

.title {
  background-color: $color-background;
  opacity: 0.9;
  position: relative;
  top: 30%;
  width: 60%;
}

.valores {
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  padding-bottom: $spacing-medium;
  padding-top: $spacing-medium;

  @media (min-width: 1100px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 100px;
  }
}

.main {
  padding-top: 100px;
}

.img {
  max-height: 300px;
  width: 100%;
}

.flexOne {
  @media (min-width: 1100px) {
    flex: 1;
  }
}

.accordionSection {
  background-color: #f2f2f2;
  padding: $spacing-large;
}

.lsfText {
  font-size: '1.6rem';
  padding-left: '4%';
}

.heroStack {
  background-color: #f2f2f2D7;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  position: relative;
  top: 40%;
  width: 80%;

  @media (min-width: 1100px) {
    top: 30%;
    max-height: 300px;
  }
}