$color-background: #fff;
$color-primary: #038C4C;
$color-primary-dark: #10492F;
$color-secondary: #1A191A;
$color-secondary-light: #8C8C8C;

$spacing-large: 30px;
$spacing-medium: 20px;
$spacing-small: 10px;

$font-large: 32px;
$font-medium: 24px;
$font-small: 16px;